<%- include('components/header') %>
<%- include('components/sidebar') %>

         <!-- User Table -->
         <div class="col-md-9 col-lg-10 content">
            <h2 class="text-center">User Management</h2>
          
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                   <th>Sr.No</th>
                   <th>Name</th>
                   <th>Email</th>
                   <th>Actions</th>
                </tr>
             </thead>
                <tbody>
                  
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                          
                            <td>
                              <a href="#" class="btn btn-primary btn-sm">Edit</a>
                              <a href="#" class="btn btn-danger btn-sm">Delete</a>
                           </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
          </div>

<%- include('components/footer') %>


